* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Start */

/* Navbar Start */
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 157, 22);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 20px 3%;
  width: 100%;
}

.navbar .menu a {
  /* padding: 10px;
  display: inline-block;
  color: white; */
  display: inline-block;
  margin: 0 20px;
  position: relative;
  color: #fff;
}

/* .navbar .menu a:hover {
  color: red;
  transition: 0.5s;
} */

.navbar .menu a::after {
  /* content: "";
  display: block;
  padding-bottom: 2px;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear; */
  content: "";
  height: 3px;
  width: 0;
  background: #961100;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar .menu a:hover::after {
  /* transform: scaleX(0.5); */
  width: 100%;
}

/* Navbar End */

/* Title Page Start*/
.title {
  text-align: center;
  margin: 3rem;
}

.title h4 {
  margin: 10px;
  color: rgba(128, 128, 128, 0.726);
}
/* Title Page End */
/* Header End */

/* Main Start */

.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 40px;
}

/* Article */
.content .artikel {
  flex-basis: 60%;
  /* margin-left: 50px; */
  padding: 30px;
  /* background-color: rgba(241, 190, 24, 0.555); */
  border-radius: 10px;
}

.slide-container {
  display: flex;
  flex-direction: row;
}


.gambar1 {
  border-radius: 10px;
  width: 100%;
  height: 70%;
}

.comment-text {
  color: rgba(128, 128, 128, 0.726);
  margin-top: 20px;
  font-style: italic;
}

.comment-profil {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profil-user {
  opacity: 80%;
  border-radius: 50%;
}

.subprofil {
  font-style: italic;
  padding-top: 3px;
  font-size: 10px;
  color: rgba(128, 128, 128, 0.726);
}

/* Form */
.content .formulir {
  background-color: rgb(241, 191, 24);
  flex-basis: 40%;
  /* margin-right: 50px; */
  border-radius: 10px;
  padding: 30px;
}

.subtitle {
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.726);
  margin-bottom: 50px;
}

/* .subtitle2{
    color: rgba(128, 128, 128, 0.726);
} */

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

.form-group input:focus,
textarea:focus {
  outline: 0;
}

.form-group .success input {
  border-color: rgb(63, 240, 63);
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

.success {
  color: rgb(63, 240, 63);
  align-items: center;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-category {
  padding: 0 10vw;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
  /* text-transform: capitalize; */
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* Package-menu */
.test {
  /* background-color: rgba(128, 128, 128, 0.438); */
  background-image: url("../img/ourPackage.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: difference;
  background-color: rgba(255, 255, 255, 0.267);
  padding-top: 50px;
  padding-bottom: 80px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.test-font {
  text-align: center;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.package-menu {
  padding: 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.card {
  background-color: rgb(241, 191, 24);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-basis: 500px;
  gap: 1rem;
  align-items: center;
  padding: 10px;
}
.card img {
  background-color: rgba(128, 128, 128, 0.616);
  border-radius: 50px;
}

.menu-info h3 a {
  color: black;
}

.menu-info h3 a:hover {
  opacity: 70%;
  text-decoration: underline;
}

.subinfo {
  color: rgba(128, 128, 128, 0.726);
  font-weight: 500;
  margin-top: 10px;
  font-size: 13px;
}

/* End Argument */
#akhir {
  padding: 10px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.521);
  border-bottom: 1px solid rgba(0, 0, 0, 0.521);
  margin-top: 15px;
}
.end-title {
  text-align: center;
  margin: 30px;
}

.end-subtitle {
  color: grey;
  margin-top: 20px;
}

.end-button {
  width: 150px;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.end-button:hover{
  background-color: red;
}

/* Main End */

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 13px;
  position: relative;
}

.police {
  padding: 10px;
}

.police a {
  /* display: flex; */
  color: white;
  padding: 7px;
}

/* Footer End */

/* Responsive */

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
  .gambar1 {
    width: 100%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  header,
  main,
  footer {
    font-size: 90%;
  }
  .gambar1 {
    width: 100%;
    height: 80%;
  }
  .formulir {
    width: 30%;
  }
}

@media (max-width: 576px) {
  header,
  main,
  footer {
    font-size: 70%;
  }
  .content {
    width: 100%;
  }

  .gambar1 {
    width: 100%;
    height: 50%;
  }
  .subtitle {
    margin-bottom: 10px;
  }

  .package-menu {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  header,
  main,
  footer {
    font-size: 70%;
  }
  .content {
    width: 100%;
    flex-direction: row;
  }

  .form-group .nama {
    font-size: 10px;
  }

  .content .formulir {
    padding: 10px;
  }

  .gambar1 {
    width: 100%;
    height: 40%;
  }
  .subtitle {
    margin-bottom: 10px;
  }

  .card {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  header,
  main,
  footer {
    font-size: 70%;
  }
  .content {
    width: 100%;
    flex-direction: row;
  }

  .form-group .nama {
    font-size: 10px;
  }

  .content .formulir {
    padding: 10px;
  }

  .gambar1 {
    width: 100%;
    height: 40%;
  }
  .subtitle {
    margin-bottom: 10px;
  }

  .card {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .gambar1 {
    width: 100%;
    height: 30%;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 100%;
  }
}


/* Behavior */
section{
  scroll-behavior: smooth;
}
